
  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  }

body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: url('Library Wallpaper.jpg') no-repeat;
     background-size: cover;
     background-position: center;
     
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    
}


header {
    position: fixed;
    top: -10px;
    left: 0;
    width: 98%;
    padding: 0px 1.3%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Library {
     font-size: 2em;
     color:  #fff;
     text-decoration: none;
     font-weight: 700;
     margin-left: 40px;
     align-items: center;
     border-radius: 5px;
}

.Library a {
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2px;
   
}


.navigation a {
     position: relative;
     font-size: 1.1em;
     color: #fff;
     text-decoration: none;
     font-weight: 500;
     margin-left: 40px;
}


.navigation a::after {
      content: '';
      position: absolute; 
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .5s;

}


.navigation a:hover::after {
      transform-origin: left;
      transform: scaleX(1);

}


.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.lem;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;            
    transition: .5s;
}

.navigation .btnlogin-popup:hover {
       background: #fff;
       color: #162938;
}


.wrapper {
        position: relative;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
	    transform: scale(0);
        transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
    height: 520px
}

.wrpper .form-box {
         width: 100%;
         padding: 40px;

}

.wrapper .form-box.login {
	 transition: transform .18s ease;
         transform: translateX(0);
}

.wrapper.active .form-box.login {
     transition: none;
     transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-inde: 1;
}

.form-box h2 {
        font-size: 2em;
        color: white;
        text-align: center;
}

.input-box {
     position: relative;
     width: 100%;
     height: 50px;
     border-bottom: 2px solid white;
     margin: 30px 0;
}

.input-box label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1em;
      color: white;
      font-weight: 500;
      pointer-events: none;
      transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input {
       width: 100%;
       height: 100%;
       background: transparent;
       border: none;
       outline: none;
       font-size: 1em;
       color: white;
       font-weight: 600;
       padding: 0 35px 0 5px;
}

.input-box .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: white;
      line-height: 57px;
}

.btn {
   width: 100%;
   height: 45px;
   background: black;
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   color: white;
   font-weight: 500;

}

.anime {
	position: relative;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(1.5px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	color: white;
}

.anime .name{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.anime .des{
    font-size: 20px;
	margin-top: 10px;
	margin-botton:20px;
}

.anime button{
    width: 15%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    margin-top: 15px;
}




.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}
.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/*here n = 0, 1, 2, 3,...*/
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate  1s ease-in-out 1 forwards;
    color: black;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}

 
 

.return {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    margin: 1px 15px; 
}

.return .solo {
  text-align: center;
  width: 280px;  
}
input{
  padding: 8px;
  margin: 5px;
}

.but {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin: 15px;
 }

 .jis a {
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2px;
   
}